$modules: (
    "layout/document": false,
);

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.classic-bg {
    background-image: url("/classic-bg.png");
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 100vh;
    background-color: white;
}

@media (max-width: 770px) {
    .classic-bg {
      background-size: 770px auto;
    }
  }

  .button {
    text-decoration: none;
    font-weight: 600;
    background-color: #2d6d68;
    padding: 20px 50px;
    font-size: 28px;
    border-radius: 15px;
    color: white;
    display: block;
    text-align: center;
    box-shadow: 7px 7px 0 0 #60a0a1;
  }
  .button:hover {
    box-shadow: none;
  }



@import "../node_modules/@picocss/pico/scss/pico.scss"