--- 
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import '../custom-pico.css'

const { title } = Astro.props;
---

<html>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">  -->
    <!-- this caused the shrink of the screen for a smaller width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="Empowering women and non-binary individuals in Canada's tech industry through opportunities and community support." />
		<meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    <div class="page-wrapper">
      <Navbar />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
    /* main {
    background-image: url('/milestones-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  } */
  /* home page style */
  /* body, html {
    margin: 0;
    overflow-x: hidden;
  }
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  main {
    flex-grow: 1;
    overflow-y: auto;
  } */

  /* about us style */
  main {
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
</style>
