--- 
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import '../custom-pico.css'

const { title } = Astro.props;
---

<html>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="page-wrapper">
      <Navbar />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  body, html {
    margin: 0;
    overflow-x: hidden;
  }
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  main {
    flex-grow: 1;
    overflow-y: auto;
  }
</style>
