---
import Subheading from "../components/Subheading.astro";

interface Props {
  title: string;
  body1: string;
  body2: string;
  body3: string;
}

const { title, body1, body2, body3 } = Astro.props;
---

<article class="about-us">
  <Subheading title={title} />
  <h3>
    The <span class="pink-span">past,</span>
    <span class="pink-span">present,</span> and
    <span class="pink-span">future</span> of Technolgap!
  </h3>
  <p>{body1}</p>
  <p>{body2}</p>
  <p>{body3}</p>
</article>

<style>
  article {
    padding-top: 8rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    text-align: center;
    background-image: url("/abtus-bg.png");
    background-color:white;
    background-size: cover;
  }

  .about-us h3 {
    font-size: 30px;
    margin-bottom: 3rem;
    color: #2f605c;
  }

  .about-us p {
    color: #2f605c;
    font-size: 18px;
    text-align: left;
    margin-left: 12rem;
    margin-bottom: 2rem;
    margin-right: 12rem;
  }

  .about-us .pink-span {
    color: #ffbce5;
  }
</style>
