---
import Card from "../components/card.astro";
import headShot from "../../public/headshot.png";
// import type TeamMembers from "./teamMembers.astro";
// import type { string } from "astro:schema";
import type { Entry } from "contentful";

interface member {
  fields: {
    name: string;
    headshot: {
      metadata: { tags: [] };
      sys: object;
      fields: {
        title: string;
        description: string;
        file: {
          url: string;
          details: [object];
          fileName: string;
          contentType: string;
        };
      };
    };
    position: string;
    institution: string;
    linkedin2?: string;
    memberDegree: string;
    teamYearMany: [string];
    bio?: string;
  };
  contentTypeId: "teamMember";
}

type TeamMember = Entry<member>;

interface Props {
  entries: TeamMember[];
}

const { entries } = Astro.props;
---

<!-- probably needs to import pico css to work? -> https://www.google.com/search?q=using+pico+css+grid&rlz=1C5GCEA_enCA1043CA1045&oq=using+pico+css+grid&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigATIHCAIQIRigATIHCAMQIRifBTIHCAQQIRifBdIBCDYxNjlqMGo0qAIAsAIB&sourceid=chrome&ie=UTF-8#fpstate=ive&vld=cid:e22747fb,vid:68co8rNMpn0,st:0 -->
<section class="cards">
  <div class="grid overflow-auto">
    {
      entries.map((member) => (
          <Card 
            name={member.fields.name ?? ""}
            headshot={member.fields.headshot.fields.file.url}
            position={member.fields.position}
            link={member.fields.linkedin2 ?? "/"}
            bio={member.fields.bio ? member.fields.bio+"what" : " "}
          />
      ))
    }
  </div>
</section>

<style>
  .grid {
    background-color: #64a8a2;
    border-radius: 20px;
    gap: 16rem;
    
    /* width: 88%; */
    /* justify-items: center; */
    /* align-items: center; */
    /* max-width: 1060px; */
    /* display: grid; */
  }

  .cards {
    /* justify-items: center; */
    /* align-items: center; */
  }
</style>
