---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>

<style>
	.link-card {
		display: flex;
		background-color: #23262d;
		transition: background-color 0.5s;
		border-radius: 8px;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
	}
	h2 {
		transition: transform 1s ease;
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s;
		color: #FFBCE5;
		font-weight: bold;
	}
	p {
		transition: transform 1s ease;
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #fbf6ef;
	}
	.link-card:hover{
		background-color: #FFBCE5;
	}

	.link-card:hover > a > h2, .link-card:hover > a > p{
		transform: translateY(-5px);
		color: #1c3936;
	}
</style>
