---
// Footer.astro
---

<footer>
      <div id="links-container">
        <a class="link" href="/code-of-conduct">Code of Conduct</a>
        <br>
        <a class="link" href="/privacy-policy">Privacy Policy</a>
      </div>
      <div id="logos">
        <img width="200px" src="/logo-name.png"/>
        <br/><br/>
        <a id="made-with" href="https://cublueprint.org/" target="_blank">
          Made with ❤️ by Carleton Blueprint
          <!-- <img id="made-with" alt="Made with Love by Carleton Blueprint" src="/made-with-cublueprint.png"/> -->
        </a>
      </div>
      <p id="tg2025">@2025 Technolgap</p>
</footer>
  
  <style>
    #tg2025 {
      margin-bottom: -8px;
    }
    footer {
      background-color: #2d6d68; /* Dark background */
      color: white;
      padding: 1rem;
      text-align: center;
      position: relative;
      bottom: 0;
      z-index: 10;
    }

    #logos {
      position: absolute;
      right: 50px;
      bottom: 40px;
      text-align: right;
      width: 200px;
    }

    #made-with {
      margin-left: auto;
      color: white;
      width: 150px;
      display: block;
      text-decoration: none;
    }

    #made-with:hover {
      background-color: #7bb7b8;
    }

    #links-container {
      text-align: left;
      margin: 20px 0;
    }
    
    .link {
      display: inline-block;
      text-decoration: none;
      color: white;
      margin: 20px 50px;
    }

    .link:hover {
      font-weight: bold;
      color: #ffbce5;
    }

    @media (max-width: 800px) {
      .link {
        margin-left: 10px;
      }

      #logos {
        right: 30px;
      }
    }
    @media (max-width: 600px) {
      p {
        font-size: 10px;
      }
      #logos {
        left: 5px;
        scale: 80%;
        bottom: 40px;
      }

      #logos a {
        margin-top: -20px;
        margin-left: 5px;
        text-align: left;
      }

      .link {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      #links-container {
        margin-bottom: 120px;
        margin-top: -5px;
      }

    }
    @media (max-width: 400px) {
      #logos img {
        width: 150px;
        margin-bottom: 10px;
      }

      #logos {
        width: 150px;
        font-size: 12px;
      }

      .link {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      #links-container {
        margin-top: 0;
        margin-bottom: 100px;
      }
    }
  </style>
  