---

---
<article id="homepage">
  <div class="text-container">
    <h1><span class="pink-shadow">technolgap</span></h1>
    <h2>Welcome to Technolgap!</h2>
    <p class="message">
      At Technolgap, we're on a mission to bridge the gender gap in the technology
      sector across Canada. Our community is dedicated to creating opportunities
      and empowering women and non-binary individuals in the Canadian tech
      industry. We believe that by fostering inclusivity and collaboration, we can
      drive positive change in the industry.
    </p>
    <div class="buttons-container">
      <button class="sponsor-button">SPONSOR</button>
      <button class="conference-button">CONFERENCE</button>
    </div>
  </div>
</article>

<style>
  body {
    color: #fbf6ef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #homepage {
    border-radius: 0;
    background-image: url("/homepage-bg.png");
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    aspect-ratio: 45 / 32;
  }
  .text-container {
    position: absolute;
    width: 54vw;
    top: 350px;
    left: 3%;
    transform-origin: left;
  }
  h1 {
    font-size: 105px;
    color: white;
  }
  .pink-shadow {
    text-shadow: 4px 0px 0px #ffbce5;
  }
  h2 {
    font-size: 32px;
    color: #ffbce5;
  }
  .message {
    font-size: 18px;
    color: white;
  }
  .buttons-container {
    display: flex;
    gap: 5%;
    margin-top: 40px;
  }
  .sponsor-button,
  .conference-button {
    border: 4px solid white;
    color: white;
    font-size: 16px;
    background-color: transparent;
    border-radius: 36px;
    box-shadow: 3px 3px 0 3px #255b56;
    font-weight: bold;
    padding: 10px 25px;
  }
  .sponsor-button:hover,
  .conference-button:hover {
    box-shadow: none;
  }

  @media (max-width: 3000px) {
    .text-container {
      top: 600px;
      scale: 120%;
      width: 43%;
    }
  }

  @media(max-width: 2000px) {
    .text-container {
      top: 500px;
    }
  }

  @media (max-width: 1600px) {
    .text-container {
      top: 350px;
      scale: 90%;
    }
  }

  @media (max-width: 1300px) {
    h1 {
      font-size: 96px;
      margin-left: -5px;
    }
    .text-container {
      top: 330px;
    }
  }

  @media (max-width: 1100px) {
    .text-container {
      top: 300px;
    }
    h1 {
      font-size: 90px;
      margin-left: -5px;
    }
    h2 {
      font-size: 26px;
    }
    .message {
      font-size: 16px;
    }
    .conference-button, .sponsor-button {
      scale: 90%;
    }
  }

  @media (max-width: 950px) {
    .text-container {
      top: 270px;
    }
    h1 {
      font-size: 75px;
      margin-left: -5px;
    }
    h2 {
      font-size: 24px;
    }
    .message, .sponsor-button, .conference-button {
      font-size: 14px;
    }
    .buttons-container {
      margin-top: 30px;
    }
  }

  @media (max-width: 825px) {
    .text-container {
      top: 230px;
    }
    h1 {
      font-size: 65px;
      margin-left: -5px;
    }
    h2 {
      font-size: 22px;
    }
    .message {
      font-size: 13px;
      line-height: 1.2;
      letter-spacing: -0.5px;
    }
    .conference-button, .sponsor-button {
    }
    .buttons-container {
      scale: 90%;
      margin-top: 10px;
      margin-left: -30px;
    }
  }

  @media (max-width: 700px) {
    .text-container {
      top: 200px;
    }
    h1 {
      font-size: 9vw;
      margin-left: -5px;
    }
    .pink-shadow {
      text-shadow: 3px 0px 0px #ffbce5;
    }
    h2 {
      font-size: 18px;
    }
    .message {
      font-size: 12px;
    }
    .buttons-container {
      scale: 80%;
      margin-left: -50px;
    }
  }

  @media (max-width: 615px) {
    .text-container {
      top: 180px;
    }
    h1 {
      font-size: 8vw;
      margin-left: 0px;
    }
    .pink-shadow {
      text-shadow: 3px 0px 0px #ffbce5;
    }
    h2 {
      font-size: 16px;
    }
    .message {
      font-size: 11px;
    }
    .conference-button, .sponsor-button {
      scale: 75%;
    }
    .buttons-container {
      margin-top: -10px;
      gap: 0;
    }
  }

  @media (max-width: 537px) {
    h1 {
      font-size: 7.5vw;
    }
    .pink-shadow {
      text-shadow: 2px 0px 0px #ffbce5;
    }
    h2 {
      font-size: 14px;
    }
    .message {
      font-size: 10px;
      line-height: 1.2;
    }
    .conference-button, .sponsor-button {
      scale: 70%;
    }
  }

  @media (max-width: 500px) {
    .text-container {
      top: 155px;
      scale: 95%;
    }
    h1 {
      font-size: 7vw;
      margin-bottom: 12.5px;
    }
    h2 {
      font-size: 14px;
      margin-bottom: 12.5px;
    }
    .message {
      font-size: 9px;
      line-height: 1.2;
      margin-bottom: 10px;
      margin-top: -10px
    }
    .buttons-container {
      left: -25px;
    }
  }

  @media (max-width: 420px) {
    .text-container {
      top: 135px;
    }
    h2 {
      font-size: 13px;
    }
    .sponsor-button, .conference-button {
      font-size: 12px;
      font-weight: normal;
      border-width: 2px;
    }
    .buttons-container {
      margin-left: -35px;
    }
  }

  @media (max-width: 385px) {
    .text-container {
      top: 125px;
    }
    .message {
      font-size: 8px;
    }
  }

  @media (max-width: 355px) {
    .text-container {
      top: 120px;
      width: 180px;
    }

    h1 {
      margin-bottom: 2px;
    }
  }

  @media (max-width: 325px) {
    .text-container {
      top: 35vw;
    }
    h1 {
      font-size: 6.5vw;
    }
    h2 {
      font-size: 12px;
    }
    .message {
      font-size: 8px;
    }
    .buttons-container {
      scale: 70%;
    }
  }
</style>
