---
// src/components/milestones.astro
import { createClient } from "contentful";
import Subheading from "./Subheading.astro";

const client = createClient({
  space: "33d3d7kdmbg5",
  accessToken: "00BZSByF4Gmh1S-vDtMfsmOLIdqrC8fyV404sOfIwzM",
});

// Fetch milestones from Contentful
const response = await client.getEntries({
  content_type: "milestone",
  order: ["fields.year"], // Order milestones by year
});
const milestones = response.items;
const increment = 68/(milestones.length);
---

<section id="milestones-section">
  <Subheading title="Milestones at Technolgap" />
  <img src="/white-star.png" alt="White Star Design" class="white-star" />
  <section id="milestones">
    <div class="timeline">
      {
        milestones.map((milestone, index) => (
          <div class="milestone">
            <div class="circle" style={`background-color: rgb(${45 + increment*index},${109 + increment*index},${104 + increment*index});`}>
              <div class="circle-text">
                <h4>{milestone.fields.year}</h4>
                <p>{milestone.fields.description}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</section>

<style>
  #milestones-section {
    padding-top: 7rem;
    padding-bottom: 6rem;
    /* background-image: 
    url("/milestones-bg.png"); */
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    text-align: center;
  }

  #milestones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .timeline {
    display: grid;
    gap: 2rem;
    justify-items: center;
    position: relative;
    width: 80%;
    max-width: 600px;
  }
  .white-star {
    margin-right: 5px;
    margin-bottom: 10px;
    width: 100px;
  }
  .milestone {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .circle {
    color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white solid 8px;
    box-shadow: 0 5px 8px 1px rgb(147, 147, 147);
  }
  .circle-text {
    padding: 50px;
  }
  .circle h4 {
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 2px #353535;
    font-size: 3rem;
  }
  .circle p {
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 2px #353535;
    font-size: 20px;
  }
  .milestone::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 2rem;
    background-color: #ffbce5; 
  }
</style>
