---
const { title } = Astro.props;
---


<h2 class="subheading">{title}</h2>

<style>
    .subheading{
        font-size: 50px;
        color: #2f605c;
        margin-bottom: 2rem;
        text-shadow: 0px 3px 3px #7f7f7f;
        -webkit-text-stroke: 0.5px #ffffff;
    }

    @media (max-width: 800px) {
        .subheading {
            font-size: 40px;
        }
    }

    @media (max-width: 500px) {
        .subheading {
            font-size: 35px;
        }
    }
</style>

