---
import { contentfulClient } from '../lib/contentful';
import type { EntryFieldTypes } from 'contentful';

interface TeamMemberType {
  contentTypeId: "teamMember";
  fields: {
    name: EntryFieldTypes.RichText
  }
}
const AllTeamMembers = await contentfulClient.getEntries<TeamMemberType>({
	content_type: "teamMember",
});
console.log(AllTeamMembers.items)
---

<ul>
  {AllTeamMembers.items.map(item => (
    <li>{item.fields.name}</li>
  ))}
</ul>
