---
import { createClient } from "contentful";
import type { Entry } from "contentful";
import FaqAccordian from "../../components/FaqAccordian.astro"
import PageLayout from "../../layouts/PageLayout.astro"

const client = createClient({
  space: "33d3d7kdmbg5",
  accessToken: "00BZSByF4Gmh1S-vDtMfsmOLIdqrC8fyV404sOfIwzM",
});

interface conference {
    fields: {
        year: number;
        ticketTypes: [
            {
                fields: {
                    type: string;
                    cost: number;
                    description: string;
                }
            }
        ],
        faq: FaqListFields,
        applyHere: string;
    },
    contentTypeId: "conference";
}

interface FaqFields {
  fields: {
    question: string,
    answer: string
  },
  sys: {
    id: string,
  },
  contentTypeId: "faq"
}

interface FaqListFields {
  fields: {
    title: string;
    allFaqs: [FaqFields];
  };
  contentTypeId: "faqList";
}

type Faqitem = Entry<FaqFields>;
type FaqList = Entry<FaqListFields>;
type Conference = Entry<conference>;

const { conference_year } = Astro.params;


async function fetchFaqList(): Promise<Faqitem[]> {
    const conferenceRes = await client.getEntries({
        content_type: "conference",
        "fields.year": conference_year
    });

    if (conferenceRes.items[0]){

      const faqRes = await client.getEntries({
        content_type: "faqList", // Ensure this matches your Contentful content type
        "sys.id": conferenceRes.items[0].fields.faq.sys.id
      });

      return faqRes.items[0].fields.allFaqs as Faqitem[];
    }

    return []

};

let allFaqs = (await fetchFaqList())

---
    
<PageLayout title="Frequently Asked Questions">
    <article class="classic-bg">
        <h2 class="subheading">FAQ</h2>
        <FaqAccordian faqList={allFaqs} grey={true}/>
    </article>
</PageLayout>

<style>

    article {
        margin: 0;
    }

    .subheading{
        font-size: 50px;
        color: #5A6160;
        margin-top: 90px;
        margin-bottom: 3rem;
        text-shadow: 0px 3px 3px #7f7f7f;
        padding: 0 20px;
        text-align: center;
        position: relative;
    }

    @media (max-width: 800px) {
        .subheading {
            font-size: 40px;
            margin-top: 70px;
        }
    }

    @media (max-width: 500px) {
        .subheading {
            font-size: 35px;
        }
    }
</style>
