---
// src/pages/aboutUsPage.astro
import AboutUs from "../components/aboutUs.astro";
import PageLayout from "../layouts/PageLayout.astro";

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <PageLayout>
        <h1 slot="title">About Us</h1>
        <AboutUs />
    </PageLayout>
</head>
<!-- <body>
    <AboutUs />
</body> -->
</html>
