---
import CollabCardGrid from "../components/CollabCardGrid.astro";
import List from "../components/List.astro";
import Subheading from "../components/Subheading.astro";
import TextBox from "../components/TextBox.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { createClient } from "contentful";
import type { Entry } from "contentful";


const client = createClient({
  space: "33d3d7kdmbg5",
  accessToken: "00BZSByF4Gmh1S-vDtMfsmOLIdqrC8fyV404sOfIwzM",
});

interface collaborator {
  fields: {
    name: string;
    logo: {
      metadata: { tags: [] };
      sys: object;
      fields: {
        title: string;
        description: string;
        file: {
          url: string;
          details: [object];
          fileName: string;
          contentType: string;
        };
      };
    };
    contribution: string;
    website: string;
    event: {
      sys: {
        id: string;
      }
      fields: { eventName: string };
    };
  };
  contentTypeId: "collaborator";
}

type Collaborator = Entry<collaborator>;


const responseCollab = await client.getEntries({
  content_type: "collaborator",
});
const collaborators: Collaborator[] = responseCollab.items as Collaborator[];


const response = await client.getEntries({
  content_type: "contact",
});
const contacts = response.items;
const form = contacts.find(obj => obj.fields.name == 'collabInterestForm')?.fields.content
const email = contacts.find(obj => obj.fields.name == 'outreachEmail')?.fields.content
---

<PageLayout title="Collaborators">
    <article class="classic-bg">
        <Subheading title="Collaborators"/>
        <TextBox heading="Our Valued Collaborators!" text="We proudly collaborate with organizations and individuals who share our vision of fostering diversity and inclusion in tech. Submit an interest form below!"/>
          <a id="link" class="button" href=`${form}` target="_blank">INTEREST FORM</a>
        <CollabCardGrid entries={collaborators} speaker={false}/>

        <List titleBeforePink="Why" pinkText="Collaborate" titleAfterPink="With Us?" items={["Enhance Impact on Diversity and Inclusion", "Expand your Outreach and Visibility", "Positive Brand Association", "Access to a Talented Pool of Individuals"]}/>
        
          <p id="contact">Contact us as <a href=`mailto:${email}`>outreach@technolgap.org</a> for any further inquiries.</p>
    </article>
</PageLayout>


<style>

  #contact {
    color: #2d6d68;
    margin-top: 50px;
    font-size: 14px;
  }

  #contact > a{
    color: #2d6d68;
    text-decoration: none;
    font-weight: bold;
  }

  #contact > a:hover {
    text-decoration: underline;
  }

  #why-collab {
    color: #2d6d68;
    margin-top: 100px;
  }
  
  #why-collab > h1{
    color: #2d6d68;
    margin-bottom: 50px;
  }

  .grid {
    grid-template-columns: repeat(4, minmax(13rem, 13rem));
    justify-content: center;
  }

  .subtext {
    color: #2d6d68;
    width: 210px;
    margin: 10px auto;
  }
  
  .icon {
    height: 150px;
    background-color: #60a0a1;
    border-radius: 20px;
    padding: 10px;
  }
  .icon:hover {
    background-color: #2d6d68;
    box-shadow: 0px 0px 10px 3px #ffbce5ac;
  }

  .icon:hover + .subtext {
    font-weight: bold;
  }

  #link {
    max-width: 300px;
    margin: 100px auto 50px auto;
  }
  
  article {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    text-align: center;
  }

  @media (max-width: 900px) {
    .grid {
      grid-template-columns: repeat(2, minmax(11rem, 14rem));
    }

    #link {
      max-width: 200px;
      font-size: 20px;
    }
  }

  @media (max-width: 420px) {
    .grid {
      grid-template-columns: repeat(1, minmax(11rem, 14rem));
    }
  }
  
</style>