

---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Technolgap</title>
    </head>
    <body>
        <h1 id="title">Technolgap Site: Coming Soon</h1>
    </body>
</html>

<style>
    body {
        background: linear-gradient(to right, #2D6D68DD, #64A8A2DD);
        color: white;
        text-align: center;
    }

    #title {
        margin-top: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>