---
import { createClient } from "contentful";
import PageLayout from "../layouts/PageLayout.astro";
import EventsGrid from "../components/EventGrid.astro"; 

const client = createClient({
  space: "33d3d7kdmbg5",
  accessToken: "00BZSByF4Gmh1S-vDtMfsmOLIdqrC8fyV404sOfIwzM",
});

const { upcomingEvents } = await (async () => {
  const response = await client.getEntries({ content_type: "event" });
  return { upcomingEvents: response.items };
})();
---

<style>
  body {
    font-family: Arial, sans-serif;
    background-image: url('/events-page-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 50px;
  }

  .header {
    text-align: center;
    padding: 60px 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #2D6D68DD;
    margin-bottom: 20px;
  }

  .header p {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    background-color: #2d6d68;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    max-width: 800px;
    height: 170px;
    box-shadow: 10px 10px 0px #f7deed; 
  }

  .filter {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    right: -25px;
    width: 100px;
  }

  .filter select {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #2d6d68;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  .filter::after {
    content: '▼';
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 40%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .highlight {
  font-size: 30px; 
  font-weight: bold; 
  display: block; 
  margin-bottom: 10px; 
  color: #ffffff; 
}
</style>

<PageLayout title="Events">
  <div class="container">
    <div class="header">
      <h1>Events</h1>
      <p>
        <span class="highlight">Join us at Technolgap events!</span>
        Stay updated on our latest events, workshops, and networking opportunities designed to support and empower women and non-binary individuals in tech. From panel discussions to hackathons, our events are aimed at fostering skill development, career advancement, and community engagement.
      </p>
    </div>

    <div class="filter">
      <select name="year" id="year">
        <option value="" disabled selected>Year</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
      </select>
    </div>

    <!-- Use the EventsGrid component -->
    <EventsGrid events={upcomingEvents} />
  </div>
</PageLayout>
