---
import { createClient, type Entry } from "contentful";
import Subheading from "../components/Subheading.astro"
import TextBox from "../components/TextBox.astro"
import PageLayout from "../layouts/PageLayout.astro"
import FaqAccordian from "../components/FaqAccordian.astro";
import List from "../components/List.astro";


const client = createClient({
  space: "33d3d7kdmbg5",
  accessToken: "00BZSByF4Gmh1S-vDtMfsmOLIdqrC8fyV404sOfIwzM",
});

// Define the FAQ fields interface
interface volunteerFields {
  fields: {
    title: string,
    appForm: string,
    appDeadline: string,
    roleDescription: string
  };
  contentTypeId: "volunteerRole";
}
type volunteerRole = Entry<volunteerFields>;

// Helper function to fetch FAQs from Contentful
async function fetchRoles(): Promise<volunteerRole[]> {
  const response = await client.getEntries({
    content_type: "volunteerRole", // Ensure this matches your Contentful content type
  });
  return response.items as volunteerRole[];
}

// Fetch FAQ data asynchronously
const volunteerRoles = await fetchRoles();

const faqStyle = volunteerRoles.map(role => ({
    fields: {
        question: role.fields.title,
        answer: role.fields.roleDescription,
        appForm: role.fields.appForm,
        deadline: role.fields.appDeadline
    }
}));
---

<PageLayout title="Volunteers">
    <article class="classic-bg" data-theme="dark">
        <Subheading title="Our Dedicated Volunteers"/>
        <TextBox heading="" text="Our volunteers are the backbone of Technolgap, contributing their time and skills to support our mission."/>
        <div class="volunteer-list-container">
            <h1>Volunteer Opportunities</h1>
            <FaqAccordian faqList={faqStyle} volunteerRole={true}/>
        </div>
        <List titleBeforePink="Benefits of" pinkText="Volunteering" titleAfterPink="" items={["Gain valuable experience and skills", "Network with professionals and peers", "Make a positive impact in the tech community"]}/>
    </article>
</PageLayout>

<style>
    article {
        padding: 1px;
        margin: 1px;
    }

    .volunteer-list-container {
        margin-top: 100px;
        margin-bottom: -75px;
    }
    
    .volunteer-list-container > h1 {
        width: 65%;
        max-width: 900px;
        margin: 0 auto;
        color: #2f605c;
        text-shadow: 0px 1px 1px #7f7f7f;
        margin-bottom: 20px;
    }

    .faq-container {
        width: 100% !important;
        max-width: 100% I !important;
    }

    @media (max-width: 550px) {
      .volunteer-list-container > h1 {
        font-size: 22px;
        width: 85%;
      }
    }
</style>
