---
import { createClient } from "contentful";
import type { Entry } from "contentful";
import FaqAccordian from "../../components/FaqAccordian.astro"
import PageLayout from "../../layouts/PageLayout.astro"

const client = createClient({
  space: "33d3d7kdmbg5",
  accessToken: "00BZSByF4Gmh1S-vDtMfsmOLIdqrC8fyV404sOfIwzM",
});

interface conference {
    fields: {
        year: number;
        ticketTypes: [
            {
                fields: {
                    type: string;
                    cost: number;
                    description: string;
                }
            }
        ],
        faq: FaqListFields,
        applyHere: string;
    },
    contentTypeId: "conference";
}

interface FaqFields {
  fields: {
    question: string,
    answer: string
  },
  sys: {
    id: string,
  },
  contentTypeId: "faq"
}

interface FaqListFields {
  fields: {
    title: string;
    allFaqs: [FaqFields];
  };
  contentTypeId: "faqList";
}

type Faqitem = Entry<FaqFields>;
type FaqList = Entry<FaqListFields>;
type Conference = Entry<conference>;

const { conference_id } = Astro.params;


async function fetchFaqList(): Promise<Faqitem[]> {
    const conferenceRes = await client.getEntries({
        content_type: "conference",
        "sys.id": conference_id
    });

    if (conferenceRes.items[0]){

      const faqRes = await client.getEntries({
        content_type: "faqList", // Ensure this matches your Contentful content type
        "sys.id": conferenceRes.items[0].fields.faq.sys.id
      });

      return faqRes.items[0].fields.allFaqs as Faqitem[];
    }

    return []

};

let allFaqs = (await fetchFaqList())

---
    
<PageLayout title="Frequently Asked Questions">
    <article class="classic-bg">
      <a id="back" href={`/conference-${conference_id}`}>&#x2190;</a>
        <h2 class="subheading">FAQ</h2>
        { allFaqs ? 
          <FaqAccordian faqList={allFaqs} grey={true}/>
          :
          <h2 class="subheading">No Faqs Available</h2>
        }
    </article>
</PageLayout>

<style>
  #back {
        padding: 10px;
        padding-top: 5px;
        background-color: #7f7f7f;
        color: #F7DFEE;
        border-radius: 100%;
        text-decoration: none;
        box-shadow: 1px 1px 0 0 #F7DFEE, 2px 2px 2px 1px #00000060;
        position: absolute;
        top: 120px;
        font-size: 30px;
    }

    article {
        margin: 0;
    }

    .subheading{
        font-size: 50px;
        color: #5A6160;
        margin-top: 90px;
        margin-bottom: 3rem;
        text-shadow: 0px 3px 3px #7f7f7f;
        -webkit-text-stroke: 0.5px #ffffff;
        padding: 0 20px;
        text-align: center;
        position: relative;
    }

    @media (max-width: 800px) {
        .subheading {
            font-size: 40px;
            margin-top: 70px;
        }
    }

    @media (max-width: 600px) {
        #back {
            top: 80px;
        }
    }

    @media (max-width: 500px) {
        .subheading {
            font-size: 35px;
        }
    }

    @media (max-width: 400px) {
        #back {
            font-size: 30px;
        }
    }
</style>
